<h3>Students</h3>
<!-- <button class="btn btn-primary" (click)="showTable()">Show Student</button> -->
<div class="row mb-3">
    <div class="col-10">
        <div>
            <label for="searchByName" class="form-label">Search</label>
            <input type="text" class="form-control" id="searchByName" [(ngModel)]="searchByName" 
            placeholder="Enter"
                (input)="searchStudent()">
        </div>
    </div>
    <div class="col-2 align-self-end">
        <button class="btn btn-primary" (click)="goTo()">New</button>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Age
            </th>
            <th>
                Email
            </th>

            <th>
                number
            </th>

            <th>
                action
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let std of filteredStudent; let i = index"
            [ngClass]="{'even-student': i%2==0, 'odd-student': i%2!=0}">
            <td>{{std.name}}</td>
            <td>{{std.age}}</td>
            <td>{{std.email}}</td>
            <td>{{std.number}}</td>
            <td>
                <button class="btn btn-primary" (click)="deleteStudent(i)">Delete</button>
                <button class="btn btn-primary ms-2" (click)="viewStudent(std.id)">View</button>
            </td>
        </tr>
    </tbody>
</table>