<h2>Create Student</h2>
<form [formGroup]="studentForm" novalidate>
    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <label for="img" class="form-label">Image</label>
                <input type="text" class="form-control" id="img" placeholder="Enter Image url" formControlName="img">
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': this.studentForm?.get('name')?.touched && this.studentForm?.get('name')?.invalid}"
                    id="name" placeholder="Enter Name" formControlName="name">
                <div class="invalid-feedback d-block" *ngIf="this.studentForm?.get('name')?.touched && this.studentForm?.get('name')?.invalid">
                    <div *ngIf="this.studentForm?.get('name')?.errors?.['required']">This filed is required.</div>
                    <div *ngIf="this.studentForm?.get('name')?.errors?.['minlength']">Minimum 2 char required.</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="age" class="form-label">Age</label>
                <input type="number" class="form-control" id="age" placeholder="Enter age" formControlName="age">
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter Email" formControlName="email">
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="number" class="form-label">Number</label>
                <input type="text" class="form-control" id="number" placeholder="Enter Number" formControlName="number">
            </div>
        </div>
    </div>
    <button class="btn btn-primary" (click)="goTo()">Back</button>
    <button class="btn btn-primary ms-3" type="button" (click)="saveStudent()">Save</button>
</form>