<h2>{{studentId ? 'Edit': 'Create'}} Student</h2>
<form [formGroup]="studentForm" novalidate *ngIf="this.studentForm">
    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <label for="img" class="form-label">Image</label>
                <input type="text" class="form-control" 
                [ngClass]="{'is-invalid': this.studentForm.get('img')?.touched && this.studentForm.get('img')?.invalid}"
                id="img" placeholder="Enter Image url" formControlName="img">
                <div class="invalid-feedback d-block" *ngIf="this.studentForm.get('img')?.touched && this.studentForm.get('img')?.invalid">
                    <div *ngIf="this.studentForm.get('img')?.errors?.['required']">This filed is required.</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': this.studentForm.get('name')?.touched && this.studentForm.get('name')?.invalid}"
                    id="name" placeholder="Enter Name" formControlName="name">
                <div class="invalid-feedback d-block" *ngIf="this.studentForm.get('name')?.touched && this.studentForm.get('name')?.invalid">
                    <div *ngIf="this.studentForm.get('name')?.errors?.['required']">This filed is required.</div>
                    <div *ngIf="this.studentForm.get('name')?.errors?.['minlength']">Minimum 2 char required.</div>
                    <div *ngIf="this.studentForm.get('name')?.errors?.['pattern']">Numbers not allowed.</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="age" class="form-label">Age</label>
                <input type="number" class="form-control"
                [ngClass]="{'is-invalid': this.studentForm.get('age')?.touched && this.studentForm.get('age')?.invalid}"
                 id="age" placeholder="Enter age" formControlName="age">
                 <div class="invalid-feedback d-block" *ngIf="this.studentForm.get('age')?.touched && this.studentForm.get('age')?.invalid">
                    <div *ngIf="this.studentForm.get('age')?.errors?.['required']">This filed is required.</div>
                    <div *ngIf="this.studentForm.get('age')?.errors?.['min']">Age should be greater than 18.</div>
                    <div *ngIf="this.studentForm.get('age')?.errors?.['max']">Age should not be greater than 32.</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email"
                [ngClass]="{'is-invalid': this.studentForm.get('email')?.touched && this.studentForm.get('email')?.invalid}"
                 placeholder="Enter Email" formControlName="email">
                 <div class="invalid-feedback d-block" *ngIf="this.studentForm.get('email')?.touched && this.studentForm.get('email')?.invalid">
                    <div *ngIf="this.studentForm.get('email')?.errors?.['required']">This filed is required.</div>
                    <div *ngIf="this.studentForm.get('email')?.errors?.['email']">Invalid Email.</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="number" class="form-label">Number</label>
                <input type="text" class="form-control" 
                [ngClass]="{'is-invalid': this.studentForm.get('number')?.touched && this.studentForm.get('number')?.invalid}"
                id="number" placeholder="Enter Number" formControlName="number">
                <div class="invalid-feedback d-block" *ngIf="this.studentForm.get('number')?.touched && this.studentForm.get('number')?.invalid">
                    <div *ngIf="this.studentForm.get('number')?.errors?.['required']">This filed is required.</div>
                    <div *ngIf="this.studentForm.get('number')?.errors?.['pattern']">Only numbers with 10 digits.</div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" (click)="goTo()">Back</button>
    <button class="btn btn-primary ms-3" type="button" (click)="saveStudent()" [disabled]="studentForm.invalid">Save</button>
</form>