
<app-header #header></app-header>
<!-- <p>My app</p> -->
<!-- <button class="btn btn-primary">Test</button> -->
<!-- <h1>Parent child relation</h1>
<app-parent></app-parent> -->
<div class="container">
    <!-- <h3>No encapsulation</h3>
      <app-no-encapsulation></app-no-encapsulation> -->
      
      <!-- <h3>Emulated encapsulation</h3>
  <app-emulated-encapsulation></app-emulated-encapsulation> -->

  <!-- <h3>Shadow Dom encapsulation</h3>
  <app-shadow-dom-encapsulation></app-shadow-dom-encapsulation> -->
    <!-- <button class="btn btn-primary" (click)="parentMethod()">Parent button</button> -->
    <!-- <app-student-list></app-student-list> -->
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
